

FieldGrid .label{
    -fx-font-family: serif ;
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-padding: 5;
    -fx-font-weight:bold;
}

/*FieldGrid .label:hover{
    -fx-font-family: monospace ;
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-padding: 5;
}*/

.split-pane-divider {
  -fx-padding: 0 ;
}

/*ImageView:hover {
    -fx-rotate: 10;
}*/


