
#deck{
    -fx-background-image: url("../images/style_paper/deck.png");
}
#sea{
    -fx-background-image: url("../images/style_paper/sea.png");
}
#hit{
    -fx-background-image: url("../images/style_paper/hit.png");
}
#miss{
    -fx-background-image: url("../images/style_paper/miss.png");
}

.player.button:hover{
    -fx-graphic: url("../images/style_paper/cross.png");
    -fx-padding:0;
    -fx-border-radius: 15px;
}

BorderPane .label{
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-font-weight:bold;
}

.split-pane-divider {
  -fx-padding: 0 ;
}

FieldGrid .label{
    -fx-font-family: monospace ;
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-padding: 5;
    -fx-font-weight:bold;
}

FieldGrid .button{
    -fx-pref-width:  30px;
    -fx-pref-height: 30px;
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}



