
#deck{
    -fx-background-image: url("../images/style_paper/deck.png");
}
#sea{
    -fx-background-image: url("../images/style_paper/sea.png");
}
#hit{
    -fx-background-image: url("../images/style_paper/hit.png");
}
#miss{
    -fx-background-image: url("../images/style_paper/miss.png");
}

.player.button:hover{
    -fx-graphic: url("../images/style_paper/cross.png");
    -fx-padding:0;
}
