
#deck{
    -fx-background-image: url("../images/style_yura/deck.png");
}
#sea{
    -fx-background-image: url("../images/style_yura/sea.png");
}
#hit{
    -fx-background-image: url("../images/style_yura/hit.png");
}
#miss{
    -fx-background-image: url("../images/style_yura/miss.png");
}

.player.button:hover{
    -fx-graphic: url("../images/style_yura/cross.png");
    -fx-padding:0;
}


